.btn{
  border: none;
  color: white;
  padding: 35px 110px;
  text-align: center;
  font-size: 130%;
  margin: 4px -80px;
  cursor: pointer;
  background-color: #371571;
  border-radius: 10px;
  
}
