.contactbtn1{
  padding: 20px 50px;
  cursor: pointer;
  color: $textcolor;
  background-color: $bodycolor;
  font-size: 130%;
  border-radius: 15px;
  position: relative;
  justify-content: center;
  align-items: center;
  border: none;
  border: grey 1.5px solid; 
  box-shadow: 0 0 8px rgba(130,89,240);

}