.claimbtn{
  border: none;
  color: $textcolor;
  padding: 30px 110px;
  text-align: center;
  font-size: 130%;
  cursor: pointer;
  border-radius: 15px;
  background-color: $bodycolor;
  border: $textcolor 1.5px solid;
  margin-bottom: 30px;
  margin-left: -160px;
  margin-top: -20px;
  box-shadow: 0 0 8px rgba(130,89,240);

}

