footer{
  background-color: $bodycolor;
  width: 100%;
  bottom: 0;
  right: 0;
  left: 0;
  color: $textcolor;
  padding: 220px 0 30px;
  font-size: 20px;
  line-height: 50px;
  margin-top: auto;
  text-decoration: none;
}

.row{
  width: 85%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
}


